.title {
	font-family: 'air_conditionerregular';
	text-transform: lowercase;
	font-size: 2.5em;
}

.menu {
	font-family: 'air_conditionerregular';
	text-transform: lowercase;
	font-size: 1.5em;
}

.logo {
	font-family: 'air_conditionerregular';
	text-transform: lowercase;
	font-size: 2.5em;
	font-weight: bold;
}

.intro .intro-body .brand-heading {
    opacity: .5;
    font-weight: 900;
    font-size: 9em;
    line-height: .7em;
}

@media(min-width:767px) {


    .intro .intro-body .brand-heading {
    	opacity: .5;
	    font-weight: 900;
	    font-size: 9em;
	    line-height: .7em;
    }
}

.blue {
	color: #00c6ff;
}

.pink {
    color: #bb0081;
}

.item{
    background: #3d3c36;    
    text-align: center;

}

.carousel{
    margin-top: 20px;
}


.shadow {
    -webkit-box-shadow: 0 0 15px 3px rgba(0,0,0,0.78);
	-moz-box-shadow: 0 0 15px 3px rgba(0,0,0,0.78);
	box-shadow: 0 0 15px 3px rgba(0,0,0,0.78);
}

.pedal-img {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.pedal-row {
	margin-top: 50px;
}

#pedals .pedals-item {
    right: 0;
    margin: 0 0 15px;
}

#pedals .pedals-item .pedals-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#pedals .pedals-item .pedals-link .pedals-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #00c6ff;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#pedals .pedals-item .pedals-link .pedals-hover:hover {
    opacity: 1;
}

#pedals .pedals-item .pedals-link .pedals-hover .pedals-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#pedals .pedals-item .pedals-link .pedals-hover .pedals-hover-content i {
    margin-top: -12px;
}

#pedals .pedals-item .pedals-link .pedals-hover .pedals-hover-content h3,
#pedals .pedals-item .pedals-link .pedals-hover .pedals-hover-content h4 {
    margin: 0;
}

#pedals .pedals-item .pedals-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#pedals .pedals-item .pedals-caption h4 {
    margin: 0;
    text-transform: none;
}

#pedals .pedals-item .pedals-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#pedals * {
    z-index: 2;
}

@media(min-width:767px) {
    #pedals .pedals-item {
        margin: 0 0 30px;
    }
}

.sc-modal-dialog {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.sc-modal-body {
    width: 100%;
    height: 70%;
    margin-bottom: 20px;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 1.2em;
}

.sc-modal-content {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-top: 25px;
}

.sc-modal-title {
    color: #DDD;
    font-weight: 700;
    text-align: center;
    font-size: 1em;
}

.sc-modal-header {
    background-color: #00c6ff;
}

.sc-button {
    background-color: #CCC;
    border-radius: 0px;
    background-image: none;
    text-shadow: none;
    color: #bb0081;
}

.sc-button:hover {
    background-color: #bb0081;
    color: #CCC;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
  -webkit-transition: -webkit-transform .5s ease-out;
  -moz-transition: -moz-transform .5s ease-out;
  -o-transition: -o-transform .5s ease-out;
  transition: transform .5s ease-out;
}

.modal.fade {
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
